<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Job Search</title>
</head>
<body>
<div class="main">
  <img src="https://cdn.pixabay.com/photo/2014/12/26/09/49/job-search-580299_960_720.png">
<center>
  <div class="form_table">
    <form action="/findjob" method="POST">
  <table class="table_align">
    <thead>
    <th colspan="2"><h1>Find Job</h1></th>
    </thead>
    <tr>
      <th>Name</th>
      <td><input type="text" class="name" name="Name"> </td>
    </tr>
      <tr>
      <th>Email Id</th>
      <td><input type="email" class="email" name="mail"> </td>
    </tr>
      <tr>
      <th>Job Role</th>
      <td><input type="text" class="jobrole" name="role"> </td>
    </tr>
    <tr>
      <th>Location</th>
      <td><input type="text" class="location" name="location"> </td>
    </tr>
    <tr>
      <th>Experience</th>
      <td>

        <select name="experience">
          <option value="Experience" name="experience">Experience</option>
          <option value="fresher" name="0">Fresher</option>
          <option value="1" name="1">1 Year</option>
          <option value="2" name="1">2 Year</option>
          <option value="3" name="1">3 Year</option>
          <option value="4" name="1">4 Year</option>
          <option value="5" name="1">5 Year</option>
          <option value="6" name="1">6 Year</option>
          <option value="7" name="1">7 Year</option>
          <option value="8" name="1">8 Year</option>
          <option value="9" name="1">9 Year</option>
          <option value="10" name="1">10 Year</option>
          <option value="11" name="1">11 Year</option>
          <option value="12" name="1">12 Year</option>
          <option value="13" name="1">13 Year</option>
          <option value="14" name="1">14+ Year</option>
        </select>
      </td>
    </tr>
      <tr>
      <th>Resume</th>
      <td><input type="file" class="resume" name="file"> </td>
    </tr>
      <tr>
      <td colspan="2"><input type="submit" name="sumbit" value="Search"> </td>
    </tr>
  </table>
  </form>
  </div>

</center>
</div>
</body>
</html>